.button {
  width: 150px;
  height: 80px;
  color: white;
  display: inline-block;
  text-align: center;
}

#stats div {
  display: inline;
}

#redButton {
  background-color: red;
}
#greenButton {
  background-color: green;
}
#blueButton {
  background-color: blue;
}
#yellowButton {
  background-color: yellow;
}

.block {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  padding: 0;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
