/*Lays out the contents of controlsContainer */
#controlsContainer {
  text-align: center;
}
#stats div {
  display: inline;
}

/* Styles my button divs */
.button {
  width: 150px;
  height: 80px;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
}

.button p {
  padding: 0.1em;
  font-size: 1.5em;
}


/* Make each button the color of the block that it creates */
#redButton {
  background-color: red;
}
#greenButton {
  background-color: green;
}
#blueButton {
  background-color: blue;
}
#yellowButton {
  background-color: gold;
}

/*Style the colorBlocks that will be created on the page */
.block {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 0px 0px 10px;
  padding: 0;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: gold;
}
